run = "bash start.sh"
language = "python3"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-23_11"
packages = ["glibcLocales", "graphicsmagick-imagemagick-compat", "libxcrypt", "lsof", "mailutils", "nano", "postgresql", "psmisc", "sqlite-interactive", "tesseract", "tree"]

[deployment]
run = ["sh", "-c", "bash start.sh"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000
